
{{#section 'head'}}

     <link rel="stylesheet" href="css/cssNavegador.css"> 
   
      <link rel="stylesheet" href="css/w3.css">
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript"  src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> 
{{/section}}

<div>
<h1> NADIR BD: TABLA {{title}} </h1>
</div>
</br>
<a href="/administradorVideos">Regresar a la Admintraci&oacute;n</a>
</br>
<a href="/video/new" type="button" class="btn btn-info" >NUEVO</a>
</div>
</br>
<h3> LISTA DE VIDEOS</h3>
</br>
 <div class="contenedor">
<div class="row pt-md-5"></div>
{{#each objVideos}}
  <div class="row">
    <div class="col-4 col-sm-1"><a href='/video/{{id}}'>{{titulo}}</a></div>
    </br>
    <div class="col-4 col-sm-1"><a type="button" class="btn btn-info" href='/video/{{id}}/edit'>EDITAR</a></div>
   
    <div class="col-4 col-sm-1">
      <form action='/video/{{id}}?_method=DELETE' method='post'>
        <button type="submit" class="btn btn-info">BORRAR</button>            
      </form>
    </div>
    </br>

    <div class="col-6 col-sm-9"></div>
  </div>
{{/each}}
  </div>
