<div class="row">
<h1> DATABASE: TABLE {{title}} </h1>
</div>

<div id="portadas">
  {{#each objVideos}}
  
    <div class='responsive'><div class='gallery'><a type "button" id='{{id}}' href='/video/{{id}}/show'> <img class='imagen' src='{{url_portada}}' alt='{{url_portada}}'></a></div></div>
  
  {{/each}}
</div>  
