
{{#section 'head'}}
	<link rel="stylesheet" href="css/cssNavegador.css"> 
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript"  src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> 

{{/section}}


<center><h1> ESCOGE LA OPCI&Oacute;N CORRECTA </h1></center>

<p>{{pregunta.contenido}}</p>

<audio src="{{pregunta.url_audio}}" autoplay="true"></audio>

<audio id="ganar" src="recursos/audios/ganar.mp3"></audio>   
<audio id="perder" src="recursos/audios/perder.mp3"></audio> 

{{objOpciones.length}}



<div class="padre">         
  
    
       	{{#each objOpciones}}        	       	   
         
          <div class="hijo">
          <button id='{{valida}}' onClick="validarOpcion(this.id)">
          <img class='imagen' width="400" height="250" src='{{url_imagen}}' alt='{{url_imagen}}'>
          </button>
          </div>
                 
  		{{/each}}            
     
  </div>

<script>
	function validarOpcion(tipo){
		if(tipo == 1){
	        //alert("¡¡¡¡FELICIDADES!!!!");
	        var r = document.getElementById("ganar");	                
	        aud = r.play();
	        setTimeout ("var win= window.location.href='bibliotecaVideos';", 4000);
	                                
	    }else{
	        //alert("¡¡¡¡RESPUESTA INCORRECTA!!!!");
	        var s = document.getElementById("perder");
	        aud = s.play();
	        resaltar();	                    
	    }
	}

	function resaltar(){
		document.getElementById("1").style.border="thick solid green";
		setTimeout ("var win= window.location.href='bibliotecaVideos';", 5000);   
	}


</script>