{{#section 'head'}}

      <link rel="stylesheet" href="css/cssNavegador.css"> 
<link rel="stylesheet" href="css/w3.css">
  <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
  <script type="text/javascript"  src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.validate.min.js"></script> 
{{/section}}

<a href="/user">Regresar a la lista de Usuarios</a>

<h2>FORMULARIO EDITAR</h2>

<!-- NOTA: utilice helper para simplificar el código de esta sección 
agregar method-override 
-->

<div class="container">   

<form class="form" action="/user/{{user.id}}?_method=PUT" method="post">
  <div class="form-group">
    <label for="title"></label>

    <label for="name">Tipo de usuario: </label>
    <input type="text" class="form-control" id="tipo_usuario_id" name="tipo_usuario_id"  value="{{user.tipo_usuario_id}}"> 

    <label for="name">Nombre: </label>
    <input type="text" class="form-control" id="nombre" name="nombre"  value="{{user.nombre}}">
     
     <label for="name">Nick: </label>
    <input type="text" class="form-control" id="username" name="username"  value="{{user.username}}">

    
     <label for="name">Contraseña: </label>
    <input type="text" class="form-control" id="password" name="password"  value="{{user.password}}">    

     <label for="name"> URL Foto: </label>
     <input type="text" class="form-control" id="url_foto" name="url_foto"  value="{{user.url_foto}}">

  </div>
  <button type="submit" class="btn btn-info">Actualizar</button>
</form>
 </div>